*
{
	margin: 0px;
	padding: 0px;
}
.menubar
{

	width: 950px;
    background-color: #000000;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    margin: 0px auto;
    margin-top: 0px;
}
.menubar ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.menubar ul li 
{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
	font-family: verdana;
    text-align: center;
    border-left: 1px solid #C71585;
    border-right: 1px solid #FFF;
    width: 188px;
}
.menubar ul li:hover 
{
    background-color: #FF69b4;
}
.menubar ul li a 
{
    color: #FFF;
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
}
.menubar ul li:nth-child(1)
{
	border-bottom-left-radius: 10px;
	border-left: 1px hidden   #FF69B4;
}
.menubar ul li:nth-last-child(1)
{
	border-bottom-right-radius: 10px;
	border-right: 1px hidden  #800080;
}

body 
{
	background-image: url(../Images/index1.png);
	margin: 0px auto;
	overflow-y: scroll;
	width: 1200px;
	margin-top: 10px;
}
.profile_ads
{
	padding:15px;
	background-color:#FFF;
	box-shadow:0px 0px 5px 0px  #000000;
	border-top:6px solid  rgb(255,183,193);
	border-bottom:7px solid rgb(255,183,193);
	border-left:1px solid  rgb(255,183,193);
	border-right:1px solid  rgb(255,183,193);
	width: 370px;
	position: relative; left: 820px;
	background:url(../Images/bg.jpg);
}
.profile_ads h3
{
	font-size:15px;
	color: #800080;
	text-decoration: none;
	
	
	
	
}
.profile_ads h4
{
	font-size:15px;
	color: #DB7093;
	text-decoration: none;
	
	
	
	
}
.profile_games
{
	box-shadow:0px 0px 5px 0px  #000000;
	border-top:2px solid #EE82EE;
	border-bottom:2px solid #EE82EE;
	border-left:2px solid #EE82EE;
	border-right:2px solid #EE82EE;
	width: 400px;
	position: relative; left: 820px;
}



.left_sidebar
{
	width: 300px;
	margin-bottom: 10px;
	float: left;
}
.left_sidebar ul
{
	list-style-type: none; 
}
.left_sidebar ul a li
{
	display: block;
}


.profilepic
{
	margin: 0px auto;
	margin-bottom: 15px;
	margin-left: 6px;
	position: relative;
	padding:10px;
	background:url(../Images/beach.jpg) no-repeat;
	background-size: 855px 353px;
	border-radius:1px;
	box-shadow:0px 0px 3px 0px rgb(0,2,3);
	border:2px solid rgb(255,183,193);
	font-size:15px;
	height: 335px;
	width: 792px;
}
.dp{
	margin: 0px auto;
	margin-bottom: 15px;
	margin-left: 55px;
	padding:0px;
	border-radius:1px;
	border:3px solid rgb(255,183,193);
	height: 155px;
	width: 155px;
	position: absolute; left: 5px; bottom: -60px
}

.nav ul {
	margin: 0;
	padding: 0;
	position: relative;
    left: 309px;
    background-color: rgb(255,183,193);
	width: 950px;
	
}
.nav ul li {
	list-style: none;

}
.nav ul li:hover {
	color:#FFF;
	background-color:#000000;

}
.nav ul li a {
	text-align: center;
	text-decoration: none;
	float: left;
	display: block;
	padding : 10px 33px;
	color: black;
	margin: 0px auto;
    background-color: rgb(255,183,193);
}
.profile_details{
	padding:15px;
	background-color:#F8F8FF;
	border-radius:0px;
	box-shadow:0px 0px 5px 0px rgb(255,183,193);
	border-top:10px solid rgb(255,183,193);
	border-bottom:10px solid rgb(255,183,193);
	border-left:1px solid rgb(255,183,193);
	border-right:1px solid rgb(255,183,193);
	font-family:Verdana;
	font-size:14px;

	
}
.profile_details ul
{
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.profile_details ul li
{
	padding: 7px;
	left: 105px;
}
.sign {
	height: 105px;
	width: 255px;
	bottom: 10px;
	
}
.profile_about 
{
	padding: 7px;
	color: #008B8B;
	padding:15px;
	background-color:#F8F8FF;
	border-radius:0px;
	box-shadow:0px 0px 5px 0px rgb(255,183,193);
	border-top:10px solid rgb(255,183,193);
	border-bottom:10px solid rgb(255,183,193);
	border-left:1px solid rgb(255,183,193);
	border-right:1px solid rgb(255,183,193);
	
}
.profile_about ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 20px;
}
.profile_about ul li
{
	display: block;
}
.profile_about ul a
{
	text-decoration: none;
	color: #000;
}
.profile_about ul a li
{
	padding-left:25px;
	padding-top:11px;
	padding-bottom:14px;
	padding-right: 25px;
	color:#000;
}
.profile_about ul a img
{
	vertical-align: middle;
	float: right;
}
.profile_accounts ul a li:hover
{
	color:#FFF;
	background-color:#ffb6c1;
}
.profile_about hr
{
	
	border: 0;
    height: 1px;
     background-image: linear-gradient(to right, rgb(255,183,193), rgb(255,183,193), rgb(255,183,193));
	 background-image: linear-gradient(to left, rgb(255,183,193), rgb(255,183,193), rgb(255,183,193));
}
.profile_accounts ul a li:hover
{
	color:#FFF;
	background-color:#ffffff;
}
.profile_accounts ul li img
{
	width:20px;
	height:20px;
	vertical-align:middle;
	padding-right:10px;
	padding-bottom:1px;
}
.profile_accounts ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 20px;
}
.profile_accounts ul li
{
	display: block;
}
.profile_accounts ul a 
{
	text-decoration: none;
	color: #000;
}
.profile_accounts ul a li
{
	padding-left:25px;
	padding-top:5px;
	padding-bottom:3px;
	height:25px;
	color:#000;
}
.profile_accounts ul a li:hover
{
	color:#FFF;
	background-color:#ffb6c1;
}
.profile_accounts hr
{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(255,183,193), rgb(255,183,193), rgb(255,183,193));
	 background-image: linear-gradient(to left, rgb(255,183,193), rgb(255,183,193), rgb(255,183,193));
}
.maincontent
{
	width: 480px;
	margin-left: 310px;
	margin-bottom: 10px;
	padding: 7px;
	color: #008B8B;
	padding:15px;
	background-color:#F8F8FF;
	border-radius:0px;
	box-shadow:0px 0px 5px 0px rgb(255,183,193);
	border-top:10px solid rgb(255,183,193);
	border-bottom:10px solid rgb(255,183,193);
	border-left:1px solid rgb(255,183,193);
	border-right:1px solid rgb(255,183,193);
}
.maincontent table 
{
	border-top: 1px solid #9370DB;
	width: 100%;
	border-collapse: collapse;
	display: relative;
}
.maincontent table caption 
{
	text-align: left;
	color: #000000;
	font-weight: bolder;
	background-color:#ffb6c1;
	padding: 4px;
}
.maincontent table tr
{
	border-bottom: 1px solid rgba(0, 139, 139, 0.2);
}
.maincontent table tr th
{
	width: 180px;
}
.maincontent table tr th, 
.maincontent table tr td
{
	padding: 20px;
	text-align: left;
}
.maincontent hr
{
	border: 0;
    height: 3px;
    background-color: #008B8B;
}

{
	display: none;
}
.about{
	color: #000000;
	
	
}
.timeline{
	width: 480px;
	margin-left: 310px;
	margin-bottom: 10px;
	padding: 7px;
	color: #008B8B;
	padding:15px;
	background-color:#F8F8FF;
	border-radius:0px;
	box-shadow:0px 0px 5px 0px rgb(255,183,193);
	border-top:10px solid rgb(255,183,193);
	border-bottom:10px solid rgb(255,183,193);
	border-left:1px solid rgb(255,183,193);
	border-right:1px solid rgb(255,183,193);
	position: relative; bottom: 280px;
	
	
	
}
.photos{
	width: 480px;
	margin-left: 310px;
	margin-bottom: 10px;
	padding: 7px;
	color: #008B8B;
	padding:15px;
	background-color:#F8F8FF;
	border-radius:0px;
	box-shadow:0px 0px 5px 0px rgb(255,183,193);
	border-top:10px solid rgb(255,183,193);
	border-bottom:10px solid rgb(255,183,193);
	border-left:1px solid rgb(255,183,193);
	border-right:1px solid rgb(255,183,193);
	position: relative; bottom: 280px;
		
}
.joc{
	
	font-family:Verdana;
	font-size:14px;
	color: #800080;
	
}
.mess ul {
	margin: 0;
	padding: 0;
	position: relative;
    left: 309px;
    background-color: rgb(255,183,193);
	width: 950px;
	
}
.mess ul li {
	list-style: none;

}
.mess ul li:hover {
	color:#FFF;
	background-color:#000000;

}
.mess ul li a {
	text-align: center;
	text-decoration: none;
	float: left;
	display: block;
	padding : 10px 30px;
	color: black;
	margin: 0px auto;
    background-color: rgb(255,183,193);
}
.join{
	width: 480px;
	margin-left: 310px;
	margin-bottom: 10px;
	padding: 7px;
	color: #008B8B;
	padding:15px;
	background-color:#F8F8FF;
	border-radius:0px;
	box-shadow:0px 0px 5px 0px rgb(255,183,193);
	border-top:10px solid rgb(255,183,193);
	border-bottom:10px solid rgb(255,183,193);
	border-left:1px solid rgb(255,183,193);
	border-right:1px solid rgb(255,183,193);
	position: relative; bottom: 280px;
		
}
.form{
	color: #800080;
}
.form table
{
	width: 100%;
}
.form table th
{
	text-align: left;
	width: 20%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.form table td:nth-child(1)
{
	width: 46%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.form table td:nth-child(2)
{
	width: 34%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.form table td input[type=text],
.form table td input[type=password],
.form table td textarea
{
	border: 1px solid #800080;
	font-size: 15px;
	padding: 5px;
	width: 150px;
}
.form table td textarea
{
	height: 100px;
}
.form input[type=submit]
{
	background-color: #800080;
	padding: 10px;
	width: 100%;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #800080;
	cursor: pointer;
}
.form table td span
{
	color: #cb061a;
	margin-left: 10px;
}
#family,
#contacts,
#favorites,
#photos,
#contacts,
#work_education,
#favorites_arrow,
#photos_arrow
{
	display: none;
}
.footer
{
    
    width: 100%;
	height: 100px;
   	background: url(../Images/footer.png) no-repeat;
    margin-top: 15px;
}
